body {
    font-family: Tahoma;
}

#container {
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(images/uba_agent.png);
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

#footer {
    width: 100%;
    height: 20%;
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    bottom: 0;
    justify-content: center;
    display: flex;
}

#card {
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    height: 70%;
    width: 21%;
    margin: 18px;
    display: flex;
}

#card>img {
    width: 30%;
    height: 90%;
    border-radius: 50%;
    margin: 3px 5px;
}

#card>div {
    width: 70%;
    margin: 4px 2px;
    font-size: 10px;
}

#card>div>p {
    margin: 3px 0 0 0;
}

#security {
    font-weight: bold;
    font-size: 13px;
}

#learn {
    margin-top: 5px;
    position: absolute;
}

#learn>span {
    border-right: 1px solid white;
}

#left {
    width: 50%;
    height: 100%;
    position: absolute;
    left: 0;
}

#right {
    width: 50%;
    height: 100%;
    position: absolute;
    right: 0;
}

#left>p {
    margin: 100px 130px 0 190px;
    font-size: medium;
}

#left>p>span {
    color: rgb(240, 53, 53);
    font-weight: bold;
    font-size: 25px;
}

#right>img {
    width: 11%;
    position: absolute;
    top: 20px;
    right: 200px;
}

* {
    box-sizing: border-box;
}

#form {
    position: absolute;
    top: 60px;
    right: 200px;
    background-color: rgba(248, 45, 45, 0.784);
    width: 220px;
    height: 250px;
    color: white;
    border-radius: 7px;
    padding: 12px 15px;
    font-family: Tahoma;
    align-items: center;
}

.input {
    width: 100%;
    padding: 4px;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    margin: 8px 0 0 0;
}

#user-id {
    background-color: transparent;
}

#login {
    background-color: rgba(183, 3, 3, 0.784);
}

#instant {
    background-color: rgba(56, 53, 53, 0.784);
}

#text {
    font-size: 11px;
}

#text>span {
    border-left: 1px solid white;
}

select {
    background: none;
    border: none;
    color: white;
    font-size: 10px;
    margin-bottom: 10px;
}

#select {
    width: 100%;
}

#center {
    font-size: 12px;
    /* margin-bottom: 20; */
    position: absolute;
}